node_modules/
.next/
out/
build/
cookies.json
# keep cookies.txt for railway deployment if needed
# cookies.txt

# Ignore large dependency folders
ffmpeg-*/
node-v*/
.next/
*.exe
package-lock.json
temp/
